# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

##BACK-END

/back-end/HELP.md
/back-end/target/
/back-end/!.mvn/wrapper/maven-wrapper.jar
/back-end/!**/src/main/**/target/
/back-end/!**/src/test/**/target/

### STS ###
/back-end/.apt_generated
/back-end/.classpath
/back-end/.factorypath
/back-end/.project
/back-end/.settings
/back-end/.springBeans
/back-end/.sts4-cache

### IntelliJ IDEA ###
/back-end/.idea
/back-end/*.iws
/back-end/*.iml
/back-end/*.ipr

### NetBeans ###
/back-end/nbproject/private/
/back-end/nbbuild/
/back-end/dist/
/back-end/nbdist/
/back-end/.nb-gradle/
/back-end/build/
/back-end/!**/src/main/**/build/
/back-end/!**/src/test/**/build/

### VS Code ###
/back-end/.vscode/
